footer {
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem;
  text-align: center;
  *{
    color: white;
    text-shadow: 1px 2px 3px black;
  }

  .footer-logo{
    margin-bottom: 2rem;
  }

  .fas{
    margin-right: 0.666rem;
  }

  .contact-link{
    text-decoration: underline;
  }
}