.section-mission{
  background: black;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 0;

  min-height: 572px;

  @include breakpoint(small only) {
    background-position: 70%;
  }
  @include breakpoint(medium only) {
    background-position: right;
  }
  * { 
    color: white;
    display: block;
  }
}
  .mission-body{
    padding: 0 1rem;
    text-align: center;
  }