.section-services{
  padding: 200px 2rem 120px 2rem;
  @include breakpoint(small only) {
    padding: 100px 1rem 3rem 1rem;
  }
}
  .services-hero{
    margin-bottom: 2rem;
  }
  .services-top-title{
    color: $lawshea-red;
    margin-bottom: 0;
  }
  .services-title{
    font-size: 2.5rem;
    line-height: 1.3;
  }
    .services-body{
      padding: 0 3rem;
      @include breakpoint(small only) {
        padding: 0;
      }
    }
      .services-list{
        list-style-type: none;
        margin-left: 0;
        li{
          display: inline-block;
          margin-right: 25px;
        }
        .list-disc{
          $list-disc-dimension: 6px;
          background: $lawshea-red;
          border-radius: $list-disc-dimension;
          display: inline-block;
          height: $list-disc-dimension;
          margin-right: 0.5rem;
          position: relative;
          top: -$list-disc-dimension/2;
          width: $list-disc-dimension;
        }
      }
  .services-description{
    
  }

  .service-types{
    text-align: left;
    list-style-type: none;
    li{
      margin-bottom: 0.333rem;
    }
    i.fas{
      color: $lawshea-red-dull;
      margin-right: 1rem;
    }
  }
