body{
}

.wrapper {
  margin: 0 auto; 
  max-width: calcRems(1440px);
}

section{
  padding: 4rem 0;
  @include breakpoint(small only) {
    padding: 2rem 0;
  }
}

.hero-mission-spacer{
  background-color: black;
  display: block;
  height: 80px;
  width: 100%;
  @include breakpoint(small only) {
    height: 2rem;
  }
}
